/*                                                          start common*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.countainer {
    width: 85%;
    margin: auto;
}

.layout {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(31, 30, 30, .2);
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya', serif;
    text-decoration: none;
    text-transform: capitalize;
}

p,
li {
    font-family: 'Alegreya Sans', sans-serif;
}

li {
    list-style: none;
    font-size: 20px;
}

.h2-title {
    font-size: 32px;
    color: #303030;
    font-weight: lighter;
}

.p-title {
    color: #686868;
    font-size: 20px;
    line-height: 1.86em;
}

.bg {
    background-color: #f8f8f8;
}

.sec {
    padding: 90px 0;
}

.list-who li i,
.list-cont li i {
    color: #8e7754;
    margin: 0 10px 10px 0px;
    display: inline-block;
    text-align: center;
}

/* end common*/
/*                                                       start head*/
.head {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(58, 57, 57, 0.5);
    padding: 6px 0;
}

.count-head {
    position: relative;
    height: 10vh;
}

.pic {
    width: 40%;
    /* float: left;*/
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

}

.pic img {
    width: 25%;
}

.nav {
    width: 60%;
    /*float: left;*/
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
}

.nav ul {
    text-align: center;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    padding: 0 15px;
    color: white;
    font-size: 18px;
    transition: color .5s;
}

.nav ul li a:hover {
    color: #ffe4bc;
}

.nav ul li .active:hover {
    color: white;
}

.fa-angle-right {
    margin-left: 5px;
    transition: transform 1s;
}

.dropdown:hover .fa-angle-right {
    transform: rotate(90deg);
}

/* end head*/
/*                                                 media start head   0:600  */
@media screen and (max-width: 768px) {
    .head {
        position: absolute;
        width: 100%;
        z-index: 10;
        background-color: transparent;
        padding-bottom: 10px;
    }

    .count-head {
        position: static;
        height: auto;
        text-align: center;
    }

    .pic {
        width: 100%;
        float: none;
        position: static;
        top: 0%;
        transform: translate(0, 0%);
        margin: 10px 0 7px;
    }

    .pic img {
        height: 48px;
    }

    .nav {
        width: 100%;
        float: none;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0, 0%);
    }

    .nav ul {
        text-align: center;
    }

    .nav ul li a {
        padding: 0 7px;
        font-size: 14px;
    }
}

/* media end head   0:600 */
/*                                                 media start head   600:768  */
@media screen and (min-width: 768px) {
    .head {
        position: absolute;
        width: 100%;
        z-index: 10;
        background-color: transparent;
        padding-bottom: 10px;
    }

    .count-head {
        position: static;
        height: auto;
        text-align: center;
    }

    .pic {
        width: 100%;
        float: none;
        position: static;
        top: 0%;
        transform: translate(0, 0%);
        margin: 10px 0 7px;
    }

    .nav {
        width: 100%;
        float: none;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0, 0%);
    }

    .nav ul {
        text-align: center;
    }

    .nav ul li a {
        padding: 0 7px;
        font-size: 18px;
    }
}

/* media end head   600:768 */
/*                                                 media start head   768:992  */
@media screen and (min-width: 992px) {
    .head {
        position: absolute;
        width: 100%;
        z-index: 10;
        background-color: transparent;
        padding-bottom: 10px;
    }

    .count-head {
        position: static;
        height: auto;
        text-align: center;
    }

    .pic {
        width: 40%;
        float: left;
        position: static;
        top: 0%;
        transform: translate(0, 0%);
        margin: 10px 0;
    }

    .nav {
        width: 60%;
        float: left;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0, 0%);
        margin: 10px 0;
    }

    .nav ul {
        text-align: center;
    }

    .nav ul li a {
        padding: 0 5px;
        font-size: 15px;
    }
}

/*  media end head   992 */
@media screen and (min-width: 1040px) {
    .countainer {
        width: 90%;
        margin: auto;
    }

    .count-head {
        position: static;
        height: auto;
    }

    .pic {
        width: 30%;
        float: left;
        position: static;
        top: 0%;
        transform: translate(0, 0%);
        text-align: left;
        margin-top: 15px;

    }

    .nav {
        width: 65%;
        float: left;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0, 0%);
        margin-top: 15px;
    }

    .nav ul {
        text-align: right;
    }

    .nav ul li a {
        padding: 0 5px;
        font-size: 15px;
    }
}

/*                                                              start home*/
.home {
    background-image: url(../images/drew-coffman-1872.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

.p1-home,
.h1-home,
.p2-home {
    color: white;
}

.p1-home {
    font-size: 22px;
}

.h1-home {
    margin: 5px 0 18px;
    font-size: 76px;
    font-weight: lighter;
}

.p2-home {
    font-size: 24px;
    letter-spacing: 1px;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 28px;
    color: white;
    font-size: 16px;
    font-family: "Alegreya Sans";
    font-weight: 700;
    border-radius: 5px;
    transition: background-color .5s, color .5s;

}

.btn-learn {
    background-color: #8e7754;
    border: 2px solid transparent;
    margin-right: 4px;
}

.btn-contact {
    border: 2px solid white;
    margin-left: 4px;
}

.btn:hover {
    background-color: white;
    color: #8e7754;
}

/*end home*/
/*                                                 media start home   0:600  */
@media screen and (max-width: 600px) {
    .home-content {
        width: 80%;
        text-align: center;
        margin-top: 35px;
    }

    .p1-home {
        font-size: 17px;
    }

    .h1-home {
        margin: 5px 0 18px;
        font-size: 35px;
    }

    .p2-home {
        font-size: 17px;
        letter-spacing: .7px;
    }

    .btn {
        margin-top: 27px;
        padding: 7px 14px;
        font-size: 14px;
        font-weight: 500;
    }
}

/* media end home   0:600 */
/*                                                 media start home   600:768  */
@media screen and (max-width: 768px) {
    .home-content {
        width: 80%;
        text-align: center;
        margin-top: 40px;
    }

    .p1-home {
        font-size: 20px;
    }

    .h1-home {
        margin: 5px 0 12px;
        font-size: 40px;
    }

    .p2-home {
        font-size: 17px;
        letter-spacing: .7px;
    }

    .btn {
        margin-top: 30px;
        padding: 10px 17px;
        font-size: 16px;
        font-weight: 600;
    }
}

/* media end home   600:768 */
/*                                                 media start home   768:992  */
@media screen and (max-width: 992px) {
    .home {
        background-image: url(../images/drew-coffman-1872.jpg);
        height: 100vh;
        position: relative;
        background-size: cover;
        background-position: center center;
    }

    .home-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        text-align: center;
        margin-top: 20px;
    }

    .p1-home,
    .h1-home,
    .p2-home {
        color: white;
    }

    .p1-home {
        margin-top: 50px;
        font-size: 22px;
    }

    .h1-home {
        margin: 5px 0 12px;
        font-size: 35px;
        font-weight: lighter;
    }

    .p2-home {
        font-size: 17px;
        letter-spacing: 1px;
    }

    .btn {
        display: inline-block;
        margin-top: 30px;
        padding: 10px 18px;
        color: white;
        font-size: 14px;
        font-family: "Alegreya Sans";
        font-weight: 500;
        border-radius: 5px;
        transition: background-color .5s, color .5s;

    }

    .btn-learn {
        background-color: #8e7754;
        border: 2px solid transparent;
        margin-right: 4px;
    }

    .btn-contact {
        border: 2px solid white;
        margin-left: 4px;
    }

    .btn:hover {
        background-color: white;
        color: #8e7754;
    }

}

/*  media start home   768:992  */

/*                                                                  start who*/
.who-pic {
    width: 47%;
    float: left;
}

.who-pic img {
    width: 100%;
}

.who-content {
    width: 47%;
    float: left;
    margin-left: 6%;
}

.h2-who {
    margin: 30px 0 30px;
}

.p-who {

    margin-bottom: 30px;
}

.list-who li {
    color: #686868;
    font-size: 17px;
}

.list-who li i {
    border: 1px solid #696969;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    line-height: 44px;
}

/*end who*/
/*                                                 media start who   0:600  */
@media screen and (max-width: 600px) {
    .who {
        margin-top: 40px;
    }

    .sec {
        padding: 40px 0;
    }

    .who-pic {
        width: 100%;
        float: none;
    }

    .who-content {
        width: 100%;
        float: none;
        margin-left: 0%;
    }

    .h2-who {
        margin: 30px 0 20px;
    }

    .p-who {
        margin-bottom: 20px;
    }

    .list-who li i,
    .list-cont li i {
        margin: 0 10px 20px 0px;
    }
}

/* media end who   0:600  */
/*                                                 media start who   600:768  */
@media screen and (max-width: 1175px) {
    .who {
        margin-top: 40px;
    }

    .sec {
        padding: 40px 0;
    }

    .who-pic {
        width: 100%;
        float: none;
    }

    .who-content {
        width: 100%;
        float: none;
        margin-left: 0%;
    }

    .h2-who {
        margin: 30px 0 20px;
    }

    .p-who {
        margin-bottom: 20px;
    }

    .list-who li i,
    .list-cont li i {
        margin: 0 10px 20px 0px;
    }
}

/* media end who   600:768  */
/*                                                 media start who   768:992  */
@media screen and (max-width: 768px) {
    .who-pic {
        width: 100%;
        float: left;
    }

    .who-pic img {
        width: 100%;
    }

    .who-content {
        width: 100%;
        float: left;
        margin-left: 3%;
        margin-top: 3%;
    }

    .h2-who {
        margin: 0 0 5px;
        font-size: 2rem;
    }

    .p-who {
        margin-bottom: 5px;
    }

    .list-who li {
        color: #686868;
        font-size: 1rem;
    }

    .list-who li i {
        border: 0px;
        width: 44px;
        height: 44px;
        line-height: 44px;
        margin: 0 10px 10px 0px;
        text-align: center;
    }

}

/* media end who   768:992  */
/*                                                              start loc*/
.loc-pic,
.cont-pic {
    width: 47%;
    float: left;
    margin-left: 6%;
}

.loc-pic img,
.cont-pic img {
    width: 100%;
}

.loc-content,
.cont-content {
    width: 47%;
    float: left;
}

.h2-loc {
    margin: 30px 0 30px;
}

.p1-loc {
    margin-bottom: 30px;
}

/* end loc*/
/*                                                 media start loc   0:600  */
@media screen and (max-width: 600px) {

    .loc-pic,
    .cont-pic {
        width: 100%;
        float: none;
        margin-left: 0%;
    }

    .loc-pic img,
    .cont-pic img {
        width: 100%;
    }

    .loc-content,
    .cont-content {
        width: 100%;
        float: none;
    }

    .h2-loc {
        margin: 5px 0 30px;
    }

    .p1-loc,
    .p2-loc {
        margin-bottom: 30px;
    }
}

/* media end loc   0:600  */
/*                                                 media start loc   600:768  */
@media screen and (max-width: 600px) {

    .loc-pic,
    .cont-pic {
        width: 100%;
        float: none;
        margin-left: 0%;
    }

    .loc-pic img,
    .cont-pic img {
        width: 100%;
    }

    .loc-content,
    .cont-content {
        width: 100%;
        float: none;
    }

    .h2-loc {
        margin: 5px 0 30px;
    }

    .p1-loc,
    .p2-loc {
        margin-bottom: 30px;
    }
}

/* media end loc   600:768  */
/*                                                 media start loc   768:992  */
@media screen and (max-width: 1175px) {
    .sec {
        padding: 40px 0;
    }

    .loc-pic,
    .cont-pic {
        width: 100%;
        float: left;
        margin-left: 0%;
        margin-top: 15px;
    }

    .loc-pic img,
    .cont-pic img {
        width: 100%;
    }

    .loc-content,
    .cont-content {
        width: 100%;
        float: left;
    }

    .h2-loc {
        font-size: 2rem;
        margin: 0 0 30px;
    }

    .p1-loc {
        margin-bottom: 0px;
    }

    .p-title {
        font-size: 1rem;

    }
}

/*  media end loc   768:992  */

/*                                                                  start bak*/
.bak-title {
    text-align: center;
}

.p-bak {
    padding: 20px 0 60px;
}

.bak-pic1,
.bak-pic2,
.bak-pic3 {
    width: 31%;
    float: left;
    text-align: center;
}

.bak-pic1 img,
.bak-pic2 img,
.bak-pic3 img {
    width: 100%;
}

.h2-bak {
    font-size: 20px;
    margin-top: 30px;
}

.pd {
    margin: 0px 3.5%;
}

/* end bak*/
/*                                                    media start bak  0:600  */
@media screen and (max-width: 600px) {

    .bak-pic1,
    .bak-pic2,
    .bak-pic3 {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 30px;
    }

    .bak-pic1 img,
    .bak-pic2 img,
    .bak-pic3 img {
        width: 100%;
    }

    .pd {
        margin: 0px 0%;
    }

    .h2-bak {
        font-size: 32px;
        margin-top: 20px;
    }

    .p-bak {
        padding: 15px 0 55px;
    }
}

/* media end bak   0:600  */
/*                                                    media start bak  600:768  */
@media screen and (max-width: 600px) {

    .bak-pic1,
    .bak-pic2,
    .bak-pic3 {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 30px;
    }

    .bak-pic1 img,
    .bak-pic2 img,
    .bak-pic3 img {
        width: 100%;
    }

    .pd {
        margin: 0px 0%;
    }

    .h2-bak {
        font-size: 32px;
        margin-top: 20px;
    }

    .p-bak {
        padding: 15px 0 55px;
    }
}

/* media end bak   600:768  */
/*                                                    media start bak  768:992  */
@media screen and (max-width: 768px) {
    .bak-title {
        text-align: center;
    }

    .bak-title h2 {
        font-size: 2rem;
    }

    .p-bak {
        padding: 20px 0 25px;
    }

    .bak-pic1,
    .bak-pic2,
    .bak-pic3 {
        width: 100%;
        float: left;
        text-align: center;
    }

    .bak-pic1 img,
    .bak-pic2 img,
    .bak-pic3 img {
        width: 100%;
    }

    .h2-bak {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .pd {
        margin: 0px 3.5%;
    }
}

/*  media end bak  768:992  */
/*start cont*/
.h2-cont {
    margin: 90px 0 30px;
}

.p1-cont {
    width: 90%;
}

.p2-cont {
    margin: 30px 0 10px;
}

.list-cont li {
    color: #686868;
    font-size: 1rem;
}

.list-cont li i {
    color: white;
    background-color: #8e7754;
    border-radius: 50%;
    font-size: 17px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-right: 20px;
}

/*end cont*/
/*                                                       media start cont   0:600  */
@media screen and (max-width: 600px) {
    .h2-cont {
        margin: 5px 0 30px;
    }

    .p1-cont {
        width: 90%;
    }

    .p2-cont {
        margin: 30px 0 20px;
    }

    .cont-pic {
        margin: 80px 0 40px;
    }
}

/* media end cont   0:600  */
/*                                                       media start cont   600:768  */
@media screen and (min-width: 600px) {
    .h2-cont {
        margin: 5px 0 30px;
    }

    .p1-cont {
        width: 90%;
    }

    .p2-cont {
        margin: 30px 0 20px;
    }

    .cont-pic {
        margin: 80px 0 40px;
    }
}

/* media end cont   600:768  */
/*                                                       media start cont   768:992  */
@media screen and (min-width: 768px) {
    .h2-cont {
        margin: 20px 0 10px;
    }

    .p1-cont {
        width: 90%;
    }

    .p2-cont {
        margin: 5px 0 10px;
    }

    .list-cont li i {
        color: white;
        background-color: #8e7754;
        border-radius: 50%;
        font-size: 17px;
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .cont-pic {
        margin: 20px 0 40px;
    }

}

/* media end cont   768:992  */
/*                                                             start foot-1*/
.f-foot {
    background-color: #403d38;
    padding: 60px 0;
}

.foot-1,
.foot-2,
.foot-3,
.foot-4 {
    width: 45%;
    float: left;
    margin-bottom: 20px;
    margin-right: 4%;
}

.h4-f-foot {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 25px;
    font-weight: lighter;
}

.foot-content p,
.foot-content li {
    font-size: 1rem;
    color: #969696;
    line-height: 26px;
}

.p-footer1,
.p-footer2 {
    margin-bottom: 20px;
}

.list-foot li {
    position: relative;
    width: 100%;
    display: block;
    padding: 10px 0;
}

.list-foot li::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #969696;
    opacity: .5;
    position: absolute;
    left: 0;
    bottom: 0;
}

.bg-foot {
    background-image: url("../images/contact-details-map.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-foot img {
    width: 80%;
    height: 50%;
}

.list-foot li i {
    margin-right: 10px;
}

/*end foot-1*/
/*                                                       media start foot-1   0:600  */
@media screen and (max-width: 600px) {
    .f-foot {
        padding: 30px 0;
    }

    .foot-1,
    .foot-2,
    .foot-3 {
        width: 100%;
        float: none;
        margin-right: 0%;
    }

    .foot-4 {
        width: 100%;
        float: none;
    }

    .h4-f-foot {
        font-size: 18px;
        margin: 10px 0 20px;
    }

    .foot-content p,
    .foot-content li {
        font-size: 16px;
        color: #969696;
        line-height: 26px;
    }

    .p-footer1 {
        margin-bottom: 20px;
    }

    .p-footer2 {
        margin-bottom: 60px;
    }

    .list-foot {
        margin-bottom: 40px;
    }

    .pic-foot img {
        width: 50%;
    }
}

/* media end foot-1   0:600  */
/*                                                       media start foot-1   600:768  */
@media screen and (min-width: 600px) and (max-width: 768px) {
    .f-foot {
        padding: 30px 0;
    }

    .foot-1,
    .foot-2,
    .foot-3 {
        width: 100%;
        float: none;
        margin-right: 0%;
    }

    .foot-4 {
        width: 100%;
        float: none;
    }

    .h4-f-foot {
        font-size: 18px;
        margin: 10px 0 20px;
    }

    .foot-content p,
    .foot-content li {
        font-size: 16px;
        color: #969696;
        line-height: 26px;
    }

    .p-footer1 {
        margin-bottom: 20px;
    }

    .p-footer2 {
        margin-bottom: 60px;
    }

    .list-foot {
        margin-bottom: 40px;
    }
}

/* media end foot-1   600:768  */
/*                                                       media start foot-1   768:992  */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .foot-1,
    .foot-3 {
        width: 42%;
        float: left;
        margin-right: 10%;
    }

    .foot-2,
    .foot-4 {
        width: 42%;
        float: left;

    }

    .foot-2 {
        margin-right: 0;
    }

    .h4-f-foot {
        font-size: 2rem;
        color: white;
        margin-bottom: 0px;
        margin: 25px 0;
        font-weight: lighter;
    }

    .foot-content p,
    .foot-content li {
        font-size: 1rem;
        color: #969696;
        line-height: 26px;
    }

    .p-footer1,
    .p-footer2 {
        margin-bottom: 20px;
    }

    .list-foot li {
        position: relative;
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    .list-foot li::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #969696;
        opacity: .5;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .bg-foot {
        background-image: url("../images/contact-details-map.png");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bg-foot img {
        width: 80%;
        height: 50%;
    }

    .list-foot li i {
        margin-right: 50px;
    }
}

/*  media end foot-1   768:992  */
/*                                                                  start foot-2*/
.sn-foot {
    padding: 60px 0;
    background-color: #303030;
    text-align: center;
}

.sn-foot p {
    margin: 30px 0;
    font-size: 16px;
    color: #969696;
}

.icon-footer a {
    display: inline-block;
    margin-right: 7px;
    color: #8c8a86;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #484540;
    border-radius: 50%;
    transition: background-color 1s color 1s;
}

.icon-footer .fs:hover,
.icon-footer .go:hover,
.icon-footer .ln:hover,
.icon-footer .tw:hover {
    color: white;
}

.icon-footer .fs:hover {
    background-color: #4267b2;
}

.icon-footer .go:hover {
    background-color: #dd4a39;
}

.icon-footer .ln:hover {
    background-color: #0274b3;
}

.icon-footer .tw:hover {
    background-color: #1da1f2;
}

/*end foot-2*/